/* =============================================================================
   Wunder Grid, the responsive css grid is made by Wunder Dev, http://wunderdev.com
   To learn how to use please visit http://grid.wunderdev.com#howtouse
   Uses Normalize css for resets. Licensed under MIT License, please include this
   comment in any use and a copy of the MIT License while using Wunder Grid.
   ========================================================================== */

/*! normalize.css 2012-01-31T16:06 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 * Fix IE6/7 heading font-size not being relative to the root font-size
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* =============================================================================
   Wunder Grid Classes, begins with basic typography, leads to custom classes like alert etc.
   and ends with the set up of the grid.
   ========================================================================== */
   body {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#202020;}
   blockquote {border-left:2px solid #590000;font-style:italic;color:#414141;}
   .alert {background:#FF5651;border:2px solid #621411;color:#3D0000;}
   .warning {background:#EBEB00;border:2px solid #C08812;color:#865F00;}
   .message {background:#42803D;border:2px solid #003E00;color:#0E3E12;}
   img {width:100%;}
   .container {width:960px;margin:auto;float:none;clear:both;}
   .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;}
   .span-1 {width:40px;}
   .span-2 {width:80px;}
   .span-3 {width:120px;}
   .span-4 {width:160px;}
   .span-5 {width:200px;}
   .span-6 {width:240px;}
   .span-7 {width:280px;}
   .span-8 {width:320px;}
   .span-9 {width:360px;}
   .span-10 {width:400px;}
   .span-11 {width:440px;}
   .span-12 {width:480px;}
   .span-13 {width:520px;}
   .span-14 {width:560px;}
   .span-15 {width:600px;}
   .span-16 {width:640px;}
   .span-17 {width:680px;}
   .span-18 {width:720px;}
   .span-19 {width:760px;}
   .span-20 {width:800px;}
   .span-21 {width:840px;}
   .span-22 {width:880px;}
   .span-23 {width:920px;}
   .span-24 {width:960px;}
   .push-1 {margin-left:40px;}
   .push-2 {margin-left:80px;}
   .push-3 {margin-left:120px;}
   .push-4 {margin-left:160px;}
   .push-5 {margin-left:200px;}
   .push-6 {margin-left:240px;}
   .push-7 {margin-left:280px;}
   .push-8 {margin-left:320px;}
   .push-9 {margin-left:360px;}
   .push-10 {margin-left:400px;}
   .push-11 {margin-left:440px;}
   .push-12 {margin-left:480px;}
   .push-13 {margin-left:520px;}
   .push-14 {margin-left:560px;}
   .push-15 {margin-left:600px;}
   .push-16 {margin-left:640px;}
   .push-17 {margin-left:680px;}
   .push-18 {margin-left:720px;}
   .push-19 {margin-left:760px;}
   .push-20 {margin-left:800px;}
   .push-21 {margin-left:840px;}
   .push-22 {margin-left:880px;}
   .push-23 {margin-left:920px;}
   .pull-1 {margin-right:-40px;}
   .pull-2 {margin-right:-80px;}
   .pull-3 {margin-right:-120px;}
   .pull-4 {margin-right:-160px;}
   .pull-5 {margin-right:-200px;}
   .pull-6 {margin-right:-240px;}
   .pull-7 {margin-right:-280px;}
   .pull-8 {margin-right:-320px;}
   .pull-9 {margin-right:-360px;}
   .pull-10 {margin-right:-400px;}
   .pull-11 {margin-right:-440px;}
   .pull-12 {margin-right:-480px;}
   .pull-13 {margin-right:-520px;}
   .pull-14 {margin-right:-560px;}
   .pull-15 {margin-right:-600px;}
   .pull-16 {margin-right:-640px;}
   .pull-17 {margin-right:-680px;}
   .pull-18 {margin-right:-720px;}
   .pull-19 {margin-right:-760px;}
   .pull-20 {margin-right:-800px;}
   .pull-21 {margin-right:-840px;}
   .pull-22 {margin-right:-880px;}
   .pull-23 {margin-right:-920px;}
    @media (min-width:1140px) { 
    .container {width:1140px}
    .first {margin-left:6px;}
    .span-1 {width:47px;}
    .span-2 {width:94px;}
    .span-3 {width:141px;}
    .span-4 {width:188px;}
    .span-5 {width:235px;}
    .span-6 {width:282px;}
    .span-7 {width:329px;}
    .span-8 {width:376px;}
    .span-9 {width:423px;}
    .span-10 {width:470px;}
    .span-11 {width:517px;}
    .span-12 {width:564px;}
    .span-13 {width:611px;}
    .span-14 {width:658px;}
    .span-15 {width:705px;}
    .span-16 {width:752px;}
    .span-17 {width:799px;}
    .span-18 {width:846px;}
    .span-19 {width:893px;}
    .span-20 {width:940px;}
    .span-21 {width:987px;}
    .span-22 {width:1034px;}
    .span-23 {width:1081px;}
    .span-24 {width:1128px;}
    .last {margin-right:-6px;}
    .push-1 {margin-left:47px;}
    .push-2 {margin-left:94px;}
    .push-3 {margin-left:141px;}
    .push-4 {margin-left:188px;}
    .push-5 {margin-left:235px;}
    .push-6 {margin-left:282px;}
    .push-7 {margin-left:329px;}
    .push-8 {margin-left:376px;}
    .push-9 {margin-left:423px;}
    .push-10 {margin-left:470px;}
    .push-11 {margin-left:517px;}
    .push-12 {margin-left:564px;}
    .push-13 {margin-left:611px;}
    .push-14 {margin-left:658px;}
    .push-15 {margin-left:705px;}
    .push-16 {margin-left:752px;}
    .push-17 {margin-left:799px;}
    .push-18 {margin-left:846px;}
    .push-19 {margin-left:893px;}
    .push-20 {margin-left:940px;}
    .push-21 {margin-left:987px;}
    .push-22 {margin-left:1034px;}
    .push-23 {margin-left:1081px;}
    .pull-1 {margin-right:-47px;}
    .pull-2 {margin-right:-94px;}
    .pull-3 {margin-right:-141px;}
    .pull-4 {margin-right:-188px;}
    .pull-5 {margin-right:-235px;}
    .pull-6 {margin-right:-282px;}
    .pull-7 {margin-right:-329px;}
    .pull-8 {margin-right:-376px;}
    .pull-9 {margin-right:-423px;}
    .pull-10 {margin-right:-470px;}
    .pull-11 {margin-right:-517px;}
    .pull-12 {margin-right:-564px;}
    .pull-13 {margin-right:-611px;}
    .pull-14 {margin-right:-658px;}
    .pull-15 {margin-right:-705px;}
    .pull-16 {margin-right:-752px;}
    .pull-17 {margin-right:-799px;}
    .pull-18 {margin-right:-846px;}
    .pull-19 {margin-right:-893px;}
    .pull-20 {margin-right:-940px;}
    .pull-21 {margin-right:-987px;}
    .pull-22 {margin-right:-1034px;}
    .pull-23 {margin-right:-1081px;}
   }
  @media (min-width:600px) and (max-width:959px) {
    .container {width:600px;}
    .span-1 {width:25px;}
    .span-2 {width:50px;}
    .span-3 {width:75px;}
    .span-4 {width:100px;}
    .span-5 {width:125px;}
    .span-6 {width:150px;}
    .span-7 {width:175px;}
    .span-8 {width:200px;}
    .span-9 {width:225px;}
    .span-10 {width:250px;}
    .span-11 {width:275px;}
    .span-12 {width:300px;}
    .span-13 {width:325px;}
    .span-14 {width:350px;}
    .span-15 {width:375px;}
    .span-16 {width:400px;}
    .span-17 {width:425px;}
    .span-18 {width:450px;}
    .span-19 {width:475px;}
    .span-20 {width:500px;}
    .span-21 {width:525px;}
    .span-22 {width:550px;}
    .span-23 {width:575px;}
    .span-24 {width:600px;}
    .push-1 {margin-left:25px;}
    .push-2 {margin-left:50px;}
    .push-3 {margin-left:75px;}
    .push-4 {margin-left:100px;}
    .push-5 {margin-left:125px;}
    .push-6 {margin-left:150px;}
    .push-7 {margin-left:175px;}
    .push-8 {margin-left:200px;}
    .push-9 {margin-left:225px;}
    .push-10 {margin-left:250px;}
    .push-11 {margin-left:275px;}
    .push-12 {margin-left:300px;}
    .push-13 {margin-left:325px;}
    .push-14 {margin-left:350px;}
    .push-15 {margin-left:375px;}
    .push-16 {margin-left:400px;}
    .push-17 {margin-left:425px;}
    .push-18 {margin-left:450px;}
    .push-19 {margin-left:475px;}
    .push-20 {margin-left:500px;}
    .push-21 {margin-left:525px;}
    .push-22 {margin-left:550px;}
    .push-23 {margin-left:575px;}
    .pull-1 {margin-right:-25px;}
    .pull-2 {margin-right:-50px;}
    .pull-3 {margin-right:-75px;}
    .pull-4 {margin-right:-100px;}
    .pull-5 {margin-right:-125px;}
    .pull-6 {margin-right:-150px;}
    .pull-7 {margin-right:-175px;}
    .pull-8 {margin-right:-200px;}
    .pull-9 {margin-right:-225px;}
    .pull-10 {margin-right:-250px;}
    .pull-11 {margin-right:-275px;}
    .pull-12 {margin-right:-300px;}
    .pull-13 {margin-right:-325px;}
    .pull-14 {margin-right:-350px;}
    .pull-15 {margin-right:-375px;}
    .pull-16 {margin-right:-400px;}
    .pull-17 {margin-right:-425px;}
    .pull-18 {margin-right:-450px;}
    .pull-19 {margin-right:-475px;}
    .pull-20 {margin-right:-500px;}
    .pull-21 {margin-right:-525px;}
    .pull-22 {margin-right:-550px;}
    .pull-23 {margin-right:-575px;}
   }
   @media (min-width:400px) and (max-width:599px) {
    .container {width:400px;}
    .first {margin-left:8px;}
    .span-1 {width:16px;}
    .span-2 {width:32px;}
    .span-3 {width:48px;}
    .span-4 {width:64px;}
    .span-5 {width:80px;}
    .span-6 {width:96px;}
    .span-7 {width:112px;}
    .span-8 {width:128px;}
    .span-9 {width:144px;}
    .span-10 {width:160px;}
    .span-11 {width:176px;}
    .span-12 {width:192px;}
    .span-13 {width:208px;}
    .span-14 {width:224px;}
    .span-15 {width:240px;}
    .span-16 {width:256px;}
    .span-17 {width:272px;}
    .span-18 {width:288px;}
    .span-19 {width:304px;}
    .span-20 {width:320px;}
    .span-21 {width:336px;}
    .span-22 {width:352px;}
    .span-23 {width:368px;}
    .span-24 {width:384px;}
    .last {margin-right:-8px;}
    .push-1 {margin-left:16px;}
    .push-2 {margin-left:32px;}
    .push-3 {margin-left:48px;}
    .push-4 {margin-left:64px;}
    .push-5 {margin-left:80px;}
    .push-6 {margin-left:96px;}
    .push-7 {margin-left:112px;}
    .push-8 {margin-left:128px;}
    .push-9 {margin-left:144px;}
    .push-10 {margin-left:160px;}
    .push-11 {margin-left:176px;}
    .push-12 {margin-left:192px;}
    .push-13 {margin-left:208px;}
    .push-14 {margin-left:224px;}
    .push-15 {margin-left:240px;}
    .push-16 {margin-left:256px;}
    .push-17 {margin-left:272px;}
    .push-18 {margin-left:288px;}
    .push-19 {margin-left:304px;}
    .push-20 {margin-left:320px;}
    .push-21 {margin-left:336px;}
    .push-22 {margin-left:352px;}
    .push-23 {margin-left:368px;}
    .pull-1 {margin-right:-16px;}
    .pull-2 {margin-right:-32px;}
    .pull-3 {margin-right:-48px;}
    .pull-4 {margin-right:-64px;}
    .pull-5 {margin-right:-80px;}
    .pull-6 {margin-right:-96px;}
    .pull-7 {margin-right:-112px;}
    .pull-8 {margin-right:-128px;}
    .pull-9 {margin-right:-144px;}
    .pull-10 {margin-right:-160px;}
    .pull-11 {margin-right:-176px;}
    .pull-12 {margin-right:-192px;}
    .pull-13 {margin-right:-208px;}
    .pull-14 {margin-right:-224px;}
    .pull-15 {margin-right:-240px;}
    .pull-16 {margin-right:-256px;}
    .pull-17 {margin-right:-272px;}
    .pull-18 {margin-right:-288px;}
    .pull-19 {margin-right:-304px;}
    .pull-20 {margin-right:-320px;}
    .pull-21 {margin-right:-336px;}
    .pull-22 {margin-right:-352px;}
    .pull-23 {margin-right:-368px;}
   }
   @media (min-width:1px) and (max-width:399px) {
    .container {width:320px;}
    .mobile-1, .mobile-2, .mobile-3, .mobile-4, .mobile-5, .mobile-6, .mobile-7, .mobile-8 {float:left;}
    .mobile-1 {width:40px;}
    .mobile-2 {width:80px;}
    .mobile-3 {width:120px;}
    .mobile-4 {width:160px;}
    .mobile-5 {width:200px;}
    .mobile-6 {width:240px;}
    .mobile-7 {width:280px;}
    .mobile-8 {width:320px;}
    .mobile-push-1 {margin-left:40px;}
    .mobile-push-2 {margin-left:80px;}
    .mobile-push-3 {margin-left:120px;}
    .mobile-push-4 {margin-left:160px;}
    .mobile-push-5 {margin-left:200px;}
    .mobile-push-6 {margin-left:240px;}
    .mobile-push-7 {margin-left:280px;}
    .mobile-pull-1 {margin-right:-40px;}
    .mobile-pull-2 {margin-right:-80px;}
    .mobile-pull-3 {margin-right:-120px;}
    .mobile-pull-4 {margin-right:-160px;}
    .mobile-pull-5 {margin-right:-200px;}
    .mobile-pull-6 {margin-right:-240px;}
    .mobile-pull-7 {margin-right:-280px;}
   }